{
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "semistandard",
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": ["mocha"],
  "ignorePatterns": ["node_modules/"],
  "rules": {
    "comma-dangle": ["warn", "always-multiline"],
    "curly": ["error", "all"],
    "max-len": ["error", { "code": 120 }],
    "indent": ["error", 2],
    "no-nested-ternary": "error",
    "no-unused-vars": "warn",
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "padded-blocks": "off"
  }
}
