{
  "env": {
    "commonjs": true,
    "es2022": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "semistandard",
    "plugin:n/recommended", // Uses the recommended rules from eslint-plugin-n (node)
    "prettier" // enables eslint-plugin-prettier and displays prettier errors as ESLint errors. (must be the last config in extends array)
  ],
  "ignorePatterns": ["node_modules/"],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "comma-dangle": ["warn", "always-multiline"],
    "curly": ["error", "all"],
    "max-len": ["error", { "code": 120 }],
    "mocha/no-async-describe": "error",
    "mocha/no-exclusive-tests": "error",
    "no-nested-ternary": "error",
    "padded-blocks": "off",
    "space-before-function-paren": "off",
    "no-useless-constructor": "off",
    "n/no-process-exit": "off",
    "n/no-unsupported-features/es-syntax": "off",
    "n/no-missing-import": "off", // disable as it conflicts with TS compiling to ES modules.
    "n/no-extraneous-import": "error",
    "prettier/prettier": "error", // Ensure Prettier discrepancies are treated as errors
    "import/order": [
      1,
      {
        "groups": ["builtin", "external", "internal", ["parent", "sibling", "index"], "object", "type"],
        "alphabetize": { "order": "asc", "caseInsensitive": true },
        "newlines-between": "always"
      }
    ]
  },
  "overrides": [
    {
      "files": ["test/**/*.js"], // turn off no-unpublished-require for test files
      "rules": {
        "n/no-unpublished-require": "off"
      }
    }
  ],
  "plugins": [
    "mocha",
    "import",
    "prettier" // so prettier errors shows up in eslint
  ],
  "root": true
}
