{
  "branches": [
    "release-candidate"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/exec",
      {
        "verifyReleaseCmd": "npm version ${nextRelease.version} --no-git-tag-version",
      }
    ]
  ]
}

